<div class="login-container">
  <!-- Agregar un contenedor para la imagen de fondo -->
  <div class="background-image"></div>
  
  <!-- Contenido principal del login -->
  <div class="login-form">
    <h2>Bienvenido</h2>
    <form (ngSubmit)="onSubmit()">
      <label for="email">Email</label>
      <input type="text" id="email" [(ngModel)]="email" name="email" required />

      <label for="password">Contraseña</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required />

      <button type="submit">INICIAR SESIÓN</button>
    </form>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>
</div>
