<div class="dashboard-container">
    <header class="dashboard-header">
      <h1>Dashboard</h1>
      <button (click)="logout()">Cerrar sesión</button>
    </header>
    <div class="dashboard-content">
      <nav class="dashboard-sidebar">
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Configuración</a></li>
          <li><a href="#">Perfil</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
      </nav>
      <main class="dashboard-main">
        <h2>Crear Usuario</h2>
        <form (ngSubmit)="createUser()">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" [(ngModel)]="nombre" name="nombre" required />
  
          <label for="email">Email</label>
          <input type="email" id="email" [(ngModel)]="email" name="email" required />
  
          <label for="password">Contraseña</label> <!-- Cambiado de 'contraseña' a 'password' -->
          <input type="password" id="password" [(ngModel)]="password" name="password" required /> <!-- Cambiado de 'contraseña' a 'password' -->
  
          <label for="usuario">Tipo de Usuario</label>
          <select id="usuario" [(ngModel)]="tipoUsuario" name="usuario" required>
            <option value="paciente">Paciente</option>
            <option value="terapeuta">Terapeuta</option>
          </select>
  
          <button type="submit">Crear Usuario</button>
        </form>
  
        <div *ngIf="mensaje" class="mensaje">
          {{ mensaje }}
        </div>
      </main>
    </div>
  </div>
  