.mantenedor-usuarios-container {
    background-color: #4a6a75; /* Fondo verde */
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .formulario-usuarios {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
  }
  
  .btn-registrar {
    padding: 10px;
    background-color: #c49c8d; /* Botón de registro en color rosa pálido */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .checkbox-container {
    display: flex;
    gap: 15px; /* Espacio entre las checkboxes */
    margin-top: 10px;
  }
  
  .checkbox-label {
    display: flex;
    align-items: center;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
  }
  